<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Add any necessary CSS styles here -->
</head>
<body>
  <h1><%= title %></h1>
  <% if (data && data.results && data.results.length > 0) { %>
    <ul>
      <% data.results.forEach(character => { %>
        <li><%= character.name %> - Height: <%= character.height %>, Mass: <%= character.mass %></li>
        <!-- Add more details as needed -->
      <% }); %>
    </ul>
  <% } else { %>
    <p>No data available.</p>
  <% } %>
</body>
</html>
