<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <ul>
    <% if (data && data.results && data.results.length > 0) { %>
      <% data.results.forEach(character => { %>
        <li>
          Name: <%= character.name %>, 
          Height: <%= character.height %>, 
          Mass: <%= character.mass %>
        </li>
      <% }); %>
    <% } else { %>
      <li>No data available</li>
    <% } %>
  </ul>
</body>
</html>
